html, body, button, div, h1, h2, img, input, fieldset, form, label, legend, header, p, section {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  box-sizing: border-box;
  font-family: 'Overpass Mono', monospace;
  font-size: 20px;
}

header {
  height: 75px;
  width: 100%;
  background-color: white;
  border-bottom: 2px solid black;
}

.header-left, .header-right {
  display: inline-block;
}

.header-left {
  padding-top: 10px;
  padding-left: 20px;
  font-size: 32px;
}

.header-right {
  float: right;
  font-size: 24px;
  padding-top: 17px;
  padding-right: 20px;
}

main {
  display: inline-grid;
  width: 100%;
  height: 100vh;
  grid-template-rows: 200px auto;
  grid-template-columns: 1fr 1fr 1fr;
  background: linear-gradient(white, blue);
}

.search-wrapper {
  grid-column-start: 1;
  grid-column-end: 2;
}

.contents-wrapper {
  grid-column-start: 2;
  grid-column-end: 3;
  padding: 50px 20px;
  z-index: 2;
}

.image-wrapper {
  grid-column-start: 3;
  grid-column-end: 4;
  z-index: 1;
}

.globe-wrapper {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;
  overflow: hidden;
}

.search-wrapper, .image-wrapper {
  padding: 50px;
}

button {
  font-family: 'Overpass Mono', monospace;
  font-size: 20px;
  height: auto;
  background-color: white;
  border: 2px solid black;
}

button:hover {
  background-color: green;
}

.search-button {
  height:40px;
  width: 40px;
  position: absolute;
}

.header-button {
  display: block;
  width: 100%;
  border-width: 2px 2px 0 2px;
  padding: 7px;
}

.header-button:last-of-type {
  color: #F12D2D;
  border-bottom: 2px solid black;
}

.header-button:last-of-type:hover {
  background-color: #F12D2D;
  color: black;
}

.search-input {
  box-sizing: border-box;
  height: 40px;
  width: 88%;
  min-width: 100px;
  border-width: 2px 0 2px 2px;
  border-style: solid;
  border-color: black;
  padding-left: 10px;
}

.random {
  transform: rotate(-15deg);
  float: right;
  margin: 25px 25px 25px 0;
}

.error {
  color: red;
}

#article-title {
  font-size: 32px;
}

.pageImg {
  width: 100%;
  border: 2px solid black;
}

.wiki-globe {
  width: 80%;
  left: 0px;
  margin-top: 75px;
  -webkit-animation:spin 30s linear infinite;
  -moz-animation:spin 30s linear infinite;
  animation:spin 30s linear infinite;
  }
  @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
  @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
  @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } } 
  

@media (min-width: 651px) and (max-width: 1000px) {
  main {
    grid-template-rows: 200px auto auto;
    grid-template-columns: 1fr 1fr;
  }
  .image-wrapper {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    padding-top: 20px;
  }
  .globe-wrapper {
    grid-row-start: 2;
    grid-row-end: 4;
  }
  .wiki-globe {
    bottom: -100px;
  }
} 

@media (max-width: 650px) {
  html {
    background-color: blue;
  }
  main {
    box-sizing: border-box;
    grid-template-rows: 180px auto auto auto;
    grid-template-columns: 1fr;
    padding: 20px;
  }
  header {
    height: 100px;
  }
  .header-right {
    float: none;
    padding: 0 20px;
  }
  .search-wrapper {
    padding: 20px 0 0 0;
  }
  .image-wrapper {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    padding-top: 0px;
    padding-bottom: 0px;
    
  }
  .contents-wrapper {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
    padding: 0 0 20px 0;
  }
  .wiki-globe {
    display: none;
  }
} 